<div class="container">


<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <form action="/answer" method="get" class="form">
      <div class="input-group">
        <input type="text" name="ask"  placeholder="write your question" class="form-control">
        <span class="input-group-btn">
          <input type="submit" value="Ask!" class="btn btn-primary">
        </span>
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</div>
